{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-dvh overflow-auto">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hackathon</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-chrome-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@600&family=Ysabeau+Infant:wght@1..1000&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-brandDark text-white min-w-80">

  {% block navbar %}
  {% include 'component/header.html' %}
  {% endblock navbar %}

  <div class="min-h-[calc(100vh-414px)] md:min-h-[calc(100vh-446px)]">
    {% block content %}{% endblock content %}
  </div>
</body>

</html>